.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 7 columnas, una por cada día */
  gap: 10px; /* Espacio entre celdas */
}

.calendar-day {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #050409;
  border-radius: 5px;
}

.calendar-day h4 {
  margin-top: 0;
  font-size: 14px;
}

label {
  display: block;
  margin-bottom: 5px;
}
